@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body{
    background-color: white;
    font-family:'Roboto', sans-serif;
    overflow: hidden;
}
h1, h3{
    text-align: center;
}
#img-div{
    background-color: #D3D3D3;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    margin:auto;
}

#img-caption{
    width: 400px;
}

#image{
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

#tribute-info{
    justify-content: center;
}